<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HaiRx - Log In</title>
</head>
<body>
    <h2>Welcome back!</h2>
    <p>New subscriptions are waiting for you.</p>
    <br>
    <h3>Please Log In Below:</h3>
    <form action="/sessions" method="POST">
        <label>username:</label>
        <input type="text" name="username">
        <br><br>
        <label>Password:</label>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Log In">

    </form>
</body>
</html>

