<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HaiRx - Sign Up</title>
</head>
<body>
    <h2>Hey! Nice To Meet You!</h2>
    <p>We are so glad you chose us.</p>
    <br>
    <h3>Please Sign Up Below:</h3>
    <form action="/registration/" method="POST">
        <label>Name:</label>
        <input type="text" name="name">
        <br><br>
        <label>Email:</label>
        <input type="text" name="email">
        <br><br>
        <label>Password:</label>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Create Account">

    </form>
</body>
</html>