<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HaiRx - Sign Up</title>
</head>
<body>
    <h2>Hey! Nice To Meet You!</h2>
    <h3>Please Sign Up Below</h3>
    <form action="/registration/" method="POST">


    </form>
</body>
</html>