<h1>Hello, <%=@user.name%></h1>
<br>
<button><a href="/sessions/logout">Log Out</a></button>
<br><br>
<ul>
    <li>
        <button><h3><a href="/products">Browse Products</a></h3></button>
    </li>
    <li>
    <button><h3><a href="/subscriptions">My Subscriptions</a></h3></button>
    </li>
</ul>





