<h1>Hello, <%=@user.name%></h1>
<br>
<a href="/sessions/logout">Log Out</a>
<br><br>
<ul class="site-nav list--inline site-nav--centered" id="SiteNav">
    <li>
        <h3><a href="/About">About</a></h3>
    </li>
    <li>
        <h3><a href="/products">Browse</a></h3>
    </li>
    <li>
        <h3><a href="/subscriptions">Subscriptions</a></h3>
    </li>
</ul>
<h2>YOUR ACCOUNT</h2>



