<h1> edit</h1>
<form action="/subscriptions/<%=@subscription.id%>" method="post">
<input type="hidden" name="_method" value="PATCH">

<h3>My Product: <%=@subscription.product.name%></h3>
<p>Brand Name: <%=@subscription.product.brand%><br>Product Type: <%=@subscription.product.product_type%></p><br><br>
<h4></h4>
<!--input for frequency (dropdown menu -> html select and options)-->
<label for="frequency">Choose a subscription frequency:</label>
<select name="frequency" id="frequency">
  <option>Select</option>
  <option value="bi-weekly">Bi-Weekly</option>
  <option value="monthly">Monthly</option>
  <option value="bi-monthly">Bi-Monthly</option>
</select><br><br>
<input type="submit" value="Update Subscription">

</form>