<ul>
    <li>
        <button><h3><a href='/users/homepage'>Home</a></h3></button>
    </li>
    <li>
        <button><h3><a href="/products">Browse Products</a></h3></button>
    </li>
    <li>
    <button><h3><a href="/subscriptions">My Subscriptions</a></h3></button>
    </li>
</ul><br>
<button><a href="/sessions/logout">Log Out</a></button>
<br><br>
<!--form for new subsciption-->
<form action="/subscriptions" method="post">
<input type="hidden" value="<%=@product.id%>" name="product_id">
<h3>My Product: <%=@product.name%></h3>
<p>Brand Name: <%=@product.brand%><br>Product Type: <%=@product.product_type%></p><br><br>
<!--input for cost-->


<!--input for frequency (dropdown menu -> html select and options)-->
<input type="submit" value="Create Subscription">

</form>