#form for new subsciption
<form action="/subscriptions" method="post">
<input type="hidden" value="<%=@product.id%>" name="product_id">
#input for cost
<input type="radio" id="male" name="gender" value="male">
#input for frequency (dropdown menu -> html select and options)

</form>