<h1>Your Subscription</h1>
<p>Here is your current subscription:</p>
<br>
<h4>Product: <%=@subscription.product.name%></h4>
<p>Brand: <%=@subscription.product.brand%></p>
<p>Product Type: <%=@subscription.product.product_type%></p>