<!--provide erb tags and iterate-->
<ul>
    <li>
        <button><h3><a href='/users/homepage'>Home</a></h3></button>
    </li>
    <li>
    <button><h3><a href="/subscriptions">My Subscriptions</a></h3></button>
    </li>
</ul>
<h1>Browse Products</h1>
    <p>There are so many hair products to choose from!<br>Go ahead and take a look!<br>Do not forget to subscribe to your choice.</p>
<% @products.each do |product| %>
    <p><a href="/products/<%=product.id%>"><%=product.name%></a></p>
<% end %>   