<ul>
    <li>
        <button><h3><a href='/users/homepage'>Home</a></h3></button>
    </li>
    <li>
        <button><h3><a href="/products">Browse Products</a></h3></button>
    </li>
    <li>
    <button><h3><a href="/subscriptions">My Subscriptions</a></h3></button>
    </li>
</ul><br></br>
<h3>Product Name: <%=@product.name%></h3>
<p>Brand Name: <%=@product.brand%></p>
<p>Product Type: <%=@product.product_type%></p>
    <%binding.pry !@subscription_exists%>
        <button><h4><a href="/products/<%=@product.id%>/subscriptions/new">Create Subscription</a></h4></button>
    