<ul>
    <li>
        <button><h3><a href='/users/homepage'>Home</a></h3></button>
    </li>
    <li>
        <button><h3><a href="/products">Browse Products</a></h3></button>
    </li>
    <li>
    <button><h3><a href="/subscriptions">My Subscriptions</a></h3></button>
    </li>
</ul><br></br>
<h3><%=@product.name%></h3>
<button><h4><a href="/products/<%=@product.id%>/subscriptions/new">Create Subscription</a></h4></button>
