<h1>About HaiRx</h1>
<ul>
    <li>
        <h3><a href='/users/homepage'>About</a></h3>
    </li>
    <li>
        <h3><a href="/products">Browse</a></h3>
    </li>
    <li>
        <h3><a href="/subscriptions">Subscriptions</a></h3>
    </li>
</ul>