<!--provide erb tags and iterate-->
<h1>Browse Products</h1>
    <p>There are so many hair products to choose from!<br>Go ahead and take a look! Don't forget to subscribe to your choice.</p>
<% @products.each do |product| %>
    <h4><%= product %></h4>
<% end %>   