<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HaiRx.com</title>
</head>
<body>
    <h1>Welcome To HaiRx!</h1><br>
    <h3>To begin your subscription to healthy hair, please:</h3>
    <button><a href="/registrations/signup">Sign Up</a></button><br>
    <button><a href="/sessions/login">Log In</a></button>
</body>
</html>

