<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HaiRx.com</title>
</head>
<body>
    <h1>Welcome To HaiRx!</h1
    <h2>To begin your subscription to healthy hair, please:</h2>
    <a href="/registration/signup">Sign Up</a>
    <h3>or</h3>
    <a href="/sessions/login">Log In</a>
</body>
</html>

